.navBar
{
    background-color: #989AAA;
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    left: 0;
}
#coName
{
    color:#F0F1F3;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-top: 15px;
}
ul
{
list-style-type: none;
margin: 0px;
padding: 0px;

}

li
{
    float: right;
    padding-right: 15px;
}

a 
{
    color:#F0F1F3;
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
   
}

.mainTitle
{
    color:#E5D923;
    background-color: black;
    width: 100%;
    left: 0px;
    font-size: 28px;
    font-family: sans-serif;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

p
{
    width: 300px;
    height: 100px;
    word-wrap: normal;
}

img
{
    height: 200px;
    position: relative;
    right: 10px;
 
    margin-bottom: 10px;
}

footer
{
    background-color: #565761;  
    height: 80px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0px;
}
